site_name: Bipedal Gait Controller
repo_url: https://github.com/rdesarz/lipm-walking-controller.git
theme:
  name: material
  palette:
    primary: blue grey
copyright: Copyright &copy; 2025 Romain Desarzens
plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: "numpy"
            show_source: false
            separate_signature: true
            show_signature_annotations: false
            members_order: source
            filters: ["!^_"]
            inherited_members: false
            merge_init_into_class: true
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
nav:
  - Home: index.md
  - Zero-Moment Point (ZMP) Preview Controller: preview_control.md
  - Foot trajectory generation: foot.md
  - Inverse kinematics: inverse_kinematics.md
  - Integration in simulation: simulation.md
