site_name: Biped Walking Controller
repo_url: https://github.com/rdesarz/biped-walking-controller.git
theme:
  name: material
  palette:
    primary: blue grey
copyright: Copyright &copy; 2025 Romain Desarzens
plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: "numpy"
            show_source: false
            separate_signature: true
            show_signature_annotations: false
            members_order: source
            filters: ["!^_"]
            inherited_members: false
            merge_init_into_class: true
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
extra_css:
  - stylesheets/extra.css
nav:
  - Home: index.md
  - Getting started: getting_started.md
  - Zero-Moment Point (ZMP) Preview Controller: preview_control.md
  - Foot trajectory generation: foot.md
  - Inverse kinematics: inverse_kinematics.md
  - Integration in simulation: simulation.md
